@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@layer components{
  .footerpartHeader{
    @apply 
    text-[16px] 
    font-medium  
    
   }
   .loginInput{
    @apply
         w-[350px] 
         h-[48px] 
         rounded-lg 
         border
         border-[#bfb9cf] 
         px-2
         focus:border-[#260e6d]
         focus:ring-0
         
   }
   .footerparts{
    @apply
    flex 
    flex-col
    items-start
    m-0
    /* h-[130px] */
    /* w-[90px] */
   }
   .sideitem{
    @apply
    hover:h-[25px]
    hover:w-[100%]
    hover:bg-blue-50
    hover:pr-45
    hover:py-0
    hover:transition-all
    hover:duration-100
   }
   .colordrop{
    @apply
    fixed
    h-[100%]
    w-[100%]
    bg-[rgba(94,89,172,0.3)]
    z-50

   }
.displayNumbers{
  @apply
  
  flex 
  text-[17px]
  font-semibold
  w-[350px]
  h-[150px]
rounded-md
shadow-[1px_4px_29px_rgb(0,0,0,0.2)]

  py-2
  px-14
  
}

}




/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */
